*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../public/img/psychedelic.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
}
h3,h5, h2{
  color: #ffffff;
  text-align: center;
}
img {
  width: 150px;
  height: 150px;
}
p{
  font-weight: 900;
}

header{
  padding: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background: rgb(226,8,8);
  background: linear-gradient(239deg, rgba(226,8,8,0.9678036131444765) 0%, rgba(66,14,5,0.4692041733685661) 8%, rgba(50,11,4,0.5280277027803308) 18%, rgba(16,4,2,0.6092601957775298) 23%, rgba(222,47,12,0.2451145375142244) 60%, rgba(1,1,1,0.5952545935366333) 71%, rgba(79,1,1,1) 92%, rgba(177,0,0,0.16948428541338412) 97%, rgba(193,0,0,0) 100%, rgba(255,0,0,1) 100%, rgba(255,0,0,1) 145%);
}
.container__main{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem;
  
}
.aside__container,
.contenedor__imagenes,
.contenedor__bandas{
  padding: 20px; 
  background: rgb(226,8,8);
  background: linear-gradient(239deg, rgba(226,8,8,0.9678036131444765) 0%, rgba(66,14,5,0.4692041733685661) 8%, rgba(50,11,4,0.5280277027803308) 18%, rgba(16,4,2,0.6092601957775298) 23%, rgba(222,47,12,0.2451145375142244) 60%, rgba(1,1,1,0.5952545935366333) 71%, rgba(79,1,1,1) 92%, rgba(177,0,0,0.16948428541338412) 97%, rgba(193,0,0,0) 100%, rgba(255,0,0,1) 100%, rgba(255,0,0,1) 145%);
  border-radius: 10px;
  margin: 20px auto; 
  display: block;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;
  text-align: center;  
}
 h3{
  color: #ffffff;
}
.contenedor__bandas  ul{
  color: #ffffff;
  font-weight: 800;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  padding: 0;
  gap: 10px;
}

.contenedor__imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

aside p{
  color: #ffffff;
}

footer{
  padding: 10px;
  
}
footer p {
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media queries */
@media (max-width: 768px) {
  .contenedor__imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 650px) {
  .contenedor__imagenes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .container__main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    
  }

}

@media (max-width: 500px) {
  
  .container__main{
    display: block;
        
  }
  footer{
    padding: 5px;
    font-size: 10px;
    font-weight: 800;
    
  }

}